<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TSTabBarAndNavigationBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDE591D41CA9522B00DDDAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE591ED1CA9522C00DDDAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE591F81CA9522C00DDDAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
